WAR WAB WAG
NTR NTB NTG
QR QB QG
SAR SAB SAG
NSWR NSWB NSWG
VR VB VG
TR TB TG
WAR NTR SAR
WAB NTB SAB
WAG NTG SAG
WAR NTR SAR QR
WAB NTB SAB QB
WAG NTG SAG QG
WAR NTR SAR QR NSWR VR
WAB NTB SAB QB NSWB VB
WAG NTG SAG QG NSWG VG
SAR QR NSWR VR
SAB QB NSWB VB
SAG QG NSWG VG
SAR NSWR VR
SAB NSWB VB
SAG NSWG VG
WAR NTR SAR QR NSWR
WAB NTB SAB QB NSWB 
WAG NTG SAG QG NSWG 